/* RESET */
*,*::before,*::after {
    box-sizing: border-box;
}

h1,h2,p,span,div,li,ul,article,main,section,header,main{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
.body {
    font-family: 'Fraunces', serif;
}
/* UTILITY */
.purple {
    color: hsl(277, 64%, 61%);
}
.violet-shadow {
    position: absolute;
    background-color: hsl(277,64%, 61%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .55;
}
/* STYLINGS */
body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.article {
    margin: 1rem;
    max-width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: .8rem;
}
.article__header {
    width: 100%;
    height: 425px;
    background-image: url('./images/image-header-mobile.jpg');
    background-size: cover;
    background-position: center;
    border-radius: .8rem .8rem 0 0;
    position: relative;
    overflow: hidden;
}

.article__main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article__title {
    margin-bottom: 2rem;
    color: hsla(0, 0%, 100%, 0.6);
}
.article__par {
    line-height: 25px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}
.article__row {
    
}
.article__span {
    display: block;
    margin: 1.5rem 0;
    text-align: center;
}
.article__h2 {
    color: hsl(0, 0%, 100%);
}
.article__p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: .3rem;
}

/* RESPONSIVE MAGIC */
@media screen and (min-width: 900px) {
    .article {
        max-width: 1440px;
        flex-direction: row-reverse;
    }
    .article__header {
        border-radius: 0 .5rem .5rem 0;
        height: 500px;
    }
    .article__row {
        margin-top: 3rem;
        width: 80%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
  }